* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f6f7; 
}

#count {
  font-family: "Montserrat";
  font-size: 5rem;
  text-align: center;
  margin: 20px 0;
  display: block;
  font-weight: 700;
}

#btn-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.btns {
  padding: 10px 20px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btns:hover {
  background-color: hsl(240, 98%, 82%);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) { /* responsive for tablet*/
  #count {
    font-size: 3.5rem;
  }

  .btns {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) { /* responsive for mobile*/
  body {
    flex-direction: column;
    padding: 20px;
  }

  #count {
    font-size: 2.5rem;
  }

  .btns {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
